{% if entity.status == 'REQUESTED' %}
    {% set progressClass = 'progress-bar-info' %}
{% elseif entity.status == 'PROCESSING' %}
    {% set progressClass = 'progress-bar-info' %}
{% elseif entity.status == 'PROCESSED' %}
    {% set progressClass = 'progress-bar-success' %}
{% elseif entity.status == 'CANCELLED' %}
    {% set progressClass = '' %}
{% elseif entity.status == 'ERROR' %}
    {% set progressClass = 'progress-bar-danger' %}
{% elseif entity.status == 'SLEEPING' %}
    {% set progressClass = 'progress-bar-info' %}
{% else %}
    {% set progressClass = 'progress-bar-danger' %}
{% endif %}

<div class="progress">
    <div class="progress-bar {{ progressClass }} progress-bar-striped active" role="progressbar"
         aria-valuenow="{{ progress }}" aria-valuemin="0"
         aria-valuemax="100" style="width: {{ progress }}%;">
        {{ progress }}%
    </div>
</div>
<table class="table">
    <tbody>
    <tr>
        <td colspan="2">
            {{ include('AbcWorkflowBundle:Execution:executionStatusLink.html.twig', { item: entity }) }} {{ report.status }}
            <a href="#" class="btn btn-xs history-details"
               data-url="{{ path('workflow_execution', { 'id': entity.id }) }}"> {{ 'Refresh'|trans }}</a></td>
    </tr>
    <tr>
        <th>{{ 'Execution time'|trans }}</th>
        <td>{{ report.executionTime }}</td>
    </tr>
    <tr>
        <th>{{ 'Ticket'|trans }}</th>
        <td>{{ entity.ticket }}</td>
    </tr>
    <tr>
        <th>{{ 'Created'|trans }}</th>
        <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
    </tr>
    </tbody>
</table>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'Logs'|trans }}</h3>
    </div>
    <div class="panel-body pre-scrollable">
        <samp style="font-size: 11px;">{{ report.log|nl2br }}</samp>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        (function poll() {
            var $progressObj = setTimeout(function () {
                $.ajax({
                    url: "{{ path('workflow_execution_status', { 'id': entity.id }) }}", success: function (data) {
                        var $progress = jQuery(".progress-bar");
                        $progress.css('width', data.progress + '%');
                        $progress.css('aria-valuenow', data.progress);
                        $progress.html(data.progress + '% ' + data.message);

                        /* test to see if the job has completed */
                        if (data.progress > 99.999) {
                            clearTimeout($progressObj);
                            $progress.removeClass("active");
                            $progress.html("Done");
                        } else {
                            //Setup the next poll recursively
                            poll();
                        }
                    }, dataType: "json"
                });
            }, 1000);
        })();
    });
</script>
{% javascripts
"bundles/abcworkflow/js/workflow-history.js"
filter='cssrewrite'
filter='?jsmin'
output="js/compiled/global/main.js" %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}