{% if btnSize is not defined %}
    {% set btnSize = '' %}
{% endif %}
    {% if item.status == 'REQUESTED' %}
        {% set btnClass = 'btn-default' %}
        {% set icon = 'time' %}
    {% elseif item.status == 'PROCESSING' %}
        {% set btnClass = 'btn-default' %}
        {% set icon = 'refresh' %}
    {% elseif item.status == 'PROCESSED' %}
        {% set btnClass = 'btn-success' %}
        {% set icon = 'ok-circle' %}
    {% elseif item.status == 'CANCELLED' %}
        {% set btnClass = 'btn-warning' %}
        {% set icon = 'ban-circle' %}
    {% elseif item.status == 'ERROR' %}
        {% set btnClass = 'btn-danger' %}
        {% set icon = 'exclamation-sign' %}
    {% elseif item.status == 'SLEEPING' %}
        {% set btnClass = 'btn-default' %}
        {% set icon = 'pause' %}
    {% else %}
        {% set btnClass = 'btn-default' %}
        {% set icon = 'time' %}
    {% endif %}

<a href="#" class="btn {{ btnSize }} {{ btnClass }} history-details"
   data-url="{{ path('workflow_execution', { 'id': item.id }) }}">
    <span class="glyphicon glyphicon-{{ icon }}" title="{{ item.status }}"></span> #{{ item.executionNumber }}
</a>

{% if item.status == 'REQUESTED' or  item.status == 'PROCESSING' or item.status == 'SLEEPING' %}
<a href="{{ path('workflow_cancel_execution', { 'id': item.id }) }}" class="btn btn-danger">
    <span class="glyphicon glyphicon-ban-circle"></span> #{{ 'Cancel execution'|trans }}
</a>
{% endif %}