{% if btnSize is not defined %}
    {% set btnSize = '' %}
{% endif %}

    {% if item.status.value == 1 %}
        {% set btnClass = 'btn-default' %}
        {% set icon = 'time' %}
    {% elseif item.status.value == 2 %}
        {% set btnClass = 'btn-default' %}
        {% set icon = 'refresh' %}
    {% elseif item.status.value == 3 %}
        {% set btnClass = 'btn-success' %}
        {% set icon = 'ok-circle' %}
    {% elseif item.status.value == 4 %}
        {% set btnClass = 'btn-warning' %}
        {% set icon = 'ban-circle' %}
    {% elseif item.status.value == 5 %}
        {% set btnClass = 'btn-danger' %}
        {% set icon = 'exclamation-sign' %}
    {% elseif item.status.value == 6 %}
        {% set btnClass = 'btn-default' %}
        {% set icon = 'pause' %}
    {% else %}
        {% set btnClass = 'btn-default' %}
        {% set icon = 'time' %}
    {% endif %}

<a href="#" class="btn {{ btnSize }} {{ btnClass }} history-details"
   data-url="{{ path('workflow_execution', { 'id': item.id }) }}">
    <span class="glyphicon glyphicon-{{ icon }}" title="{{ item.status.value }}"></span> #{{ item.id }}
</a>
