<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0"
         aria-valuemax="100" style="width: {{ progress }}%;">
        {{ progress }}%
    </div>
</div>
<table class="table">
    <tbody>
    <tr>
        <th>{{ 'Number'|trans }}</th>
        <td>{{ include('AbcWorkflowBundle:Execution:executionStatusLink.html.twig', { item: entity }) }}</td>
    </tr>
    <tr>
        <th>{{ 'Status'|trans }}</th>
        <td>{{ report.status }}</td>
    </tr>
    <tr>
        <th>{{ 'Execution time'|trans }}</th>
        <td>{{ report.executionTime }}</td>
    </tr>
    <tr>
        <th>{{ 'Ticket'|trans }}</th>
        <td>{{ entity.ticket }}</td>
    </tr>
    <tr>
        <th>{{ 'Created'|trans }}</th>
        <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
    </tr>
    </tbody>
</table>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'Logs'|trans }}</h3>
    </div>
    <div class="panel-body pre-scrollable">
        <samp style="font-size: 11px;">{{ report.log|nl2br }}</samp>
    </div>
</div>
{% javascripts
"bundles/abcworkflow/js/workflow-history.js"
filter='cssrewrite'
filter='?jsmin'
output="js/compiled/global/main.js" %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}