<div id="execution-history-{{ workflow.id }}" class="execution-history">
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'Number'|trans }}</th>
            <th>{{ 'Ticket'|trans }}</th>
            <th>{{ 'Started'|trans }}</th>
            <th>{{ 'Status'|trans }}</th>
            <th>{{ 'Execution time'|trans }}</th>
            <th>{{ 'Details'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in executions %}
            <tr>
                <td>
                    {{ include('AbcWorkflowBundle:Execution:executionStatusLink.html.twig', { item: item, btnSize: 'btn-xs'}) }}
                </td>
                <td>{{ item.ticket }}</td>
                <td>{{ item.createdAt|date('Y-m-d H:i:s') }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.executionTime }}</td>
                <td><a href="#" class="btn btn-xs history-details"
                       data-url="{{ path('workflow_execution', { 'id': item.id }) }}"> {{ 'Show'|trans }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% javascripts
"bundles/abcworkflow/js/workflow-history.js"
filter='cssrewrite'
filter='?jsmin'
output="js/compiled/global/main.js" %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}