<table class="table">
    <thead>
    <tr>
        <th>{{ 'Status'|trans }}</th>
        <th>{{ 'Ticket'|trans }}</th>
        <th>{{ 'Started'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in executions %}
        <tr>
            <td>
                {{ include('AbcWorkflowBundle:Execution:executionStatusLink.html.twig', { item: item, btnSize: 'btn-xs'}) }}
            </td>
            <td>{{ item.ticket }}</td>
            <td>{{ item.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>