{% block workflow -%}
    <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="addTaskModalLabel">{{ 'Select task  type'|trans }}</h4>
                </div>
                <div class="modal-body">
                    {{ include('AbcWorkflowBundle:Task:taskSelect.html.twig', {categories: categories, types: types, entity: entity}) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'Tasks'|trans }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <ul class="ui-sortable list-group" id="task-list-container">
                        {% for task in tasks %}
                            {{ include('AbcWorkflowBundle:Task:taskItem.html.twig', {task: task}) }}
                        {% endfor %}
                    </ul>
                    <button class="btn btn-default" data-toggle="modal" data-target="#addTaskModal">
                        <span class="glyphicon glyphicon-plus"></span> {{ 'Add task'|trans }}
                    </button>
                </div>
                <div class="col-md-8" id="form-content-container">
                    {{ include('AbcWorkflowBundle:Task:emptyTask.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ confirmation_js (
    'jQuery("#item-"+element.attr("data-id")).remove();jQuery("#task-form-contents").replaceWith(jQuery("#empty-task").removeClass("hidden"));',
    {placement: 'left', title : 'Are you sure?'|trans,btnCancelLabel: 'Cancel'|trans , btnOkLabel: 'Delete'|trans }) }}

    {% spaceless %}
        <script>
            var $newTask = jQuery('.new-task');
            var $changeKey = jQuery('.list-group-item');
            var $resultContainer = jQuery('#form-content-container');
            var url = '{{ path("task_edit", {'id': 'replaceTaskId'}) }}';
            var indicator = '<img src="/bundles/abcfiledistribution/images/ajax-loader-transparent.gif" alt="Loading data" >';

            $newTask.bind('click', function (event) {
                $resultContainer.html(indicator);
                $('#addTaskModal').modal('toggle');
                event.preventDefault();
                $.get(this.href, {}, function (response) {
                    $resultContainer.html(response)
                })
            });

            function getFormData() {
                $resultContainer.html(indicator);
                $changeKey.removeClass('active');
                jQuery(this).removeClass('active');
                jQuery.ajax({
                    url: url.replace("replaceTaskId", jQuery(this).attr('data-item-id')),
                    type: 'GET',
                    success: function (html) {
                        $resultContainer.html(html);
                    }
                });
            }

            $(document).on('click', '.list-group-item', getFormData);

            jQuery(document).ready(function () {
                jQuery('.ui-sortable').sortable({
                    helper: 'clone',
                    update: function (event, ui) {
                        var data = jQuery(this).sortable("serialize");
                        $.ajax({
                            url: "{{ path('task_sort', { 'id': entity.id }) }}",
                            type: "PUT",
                            data: data,
                            success: function (html) {
                            },
                            error: function (html) {
                                alert(html);
                            }
                        });
                    }
                });
                jQuery(".ui-sortable").disableSelection();
            });
        </script>
    {% endspaceless %}
{% endblock javascripts %}