{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ entity.type.name }}</h1>
    {{ form_start(form) }}
    {{ form_row(form.description) }}
    <div class="checkbox">
        {{ form_errors(form.disabled) }}
        {{ form_widget(form.disabled) }}
    </div>
    {{ form_rest(form) }}
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}