{% extends '::base.html.twig' %}

{% block body -%}
    <div id="task-form-contents">
        <h3>{{ 'New'|trans }} {{ entity.type.name }}</h3>
        {{ form_start(form) }}
        {{ form_row(form.description) }}
        <div class="checkbox">
            {{ form_errors(form.disabled) }}
            {{ form_widget(form.disabled) }}
        </div>
        <div class="checkbox">
            {{ form_errors(form.scheduled) }}
            {{ form_widget(form.scheduled) }}
        </div>
        <div id="schedule-subform">
            {% if form.schedule is defined %}
                {{ form_errors(form.schedule) }}
                {{ form_widget(form.schedule) }}
            {% endif %}
        </div>
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary" id="submit-task"
                data-loading-text="{{ 'Saving...'|trans }}">{{ 'Save'|trans }}</button>
        <a href="#" class="btn cancel">{{ 'Cancel'|trans }}</a>
        {{ form_end(form) }}
    </div>
    {{ include('AbcWorkflowBundle:Task:formScripts.html.twig') }}
{% endblock %}