{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ entity.name }}</h1>
    <div class="btn-group">
        <a href="{{ path('workflow_show', { 'id': entity.id }) }}" class="btn btn-default"><span
                    class="glyphicon glyphicon-list"></span> {{ 'Back to Workflow'|trans }}</a>
    </div>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'Status'|trans }}</th>
            <th>{{ 'Ticket'|trans }}</th>
            <th>{{ 'Started'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in executions %}
            <tr>
                <td>
                    {{ include('AbcWorkflowBundle:Workflow:executionStatusLink.html.twig', { item: item, btnSize: 'btn-xs'}) }}
                </td>
                <td>{{ item.ticket }}</td>
                <td>{{ item.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
