{% extends '::base.html.twig' %}

{% block body -%}
    <h1>#{{ entity.id }} {{ entity.name }} {% if entity.disabled %}<span
                class="label label-default">{{ 'Disabled'|trans }}</span>{% endif %}</h1>
    <div class="btn-group">
        {{ knp_menu_render('main') }}
        <a href="{{ path('workflow') }}" class="btn btn-default"><span
                    class="glyphicon glyphicon-list"></span> {{ 'Back to the list'|trans }}</a>
        <a href="{{ path('workflow_history', { 'id': entity.id }) }}" class="btn btn-default">{{ 'History'|trans }}</a>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span
                        class="glyphicon glyphicon-play-circle"></span> {{ 'Run'|trans }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path('workflow_execute', { 'id': entity.id }) }}">{{ 'Execute'|trans }}</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span
                        class="glyphicon glyphicon-cog"></span> {{ 'Actions'|trans }} <span
                        class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path('task_configure', { 'id': entity.id }) }}"><span
                                class="glyphicon glyphicon-wrench"></span> {{ 'Configure'|trans }}</a></li>
                <li><a href="{{ path('workflow_edit', { 'id': entity.id }) }}"><span
                                class="glyphicon glyphicon-pencil"></span> {{ 'Edit'|trans }}</a></li>
                <li>{{ form(delete_form) }}</li>
            </ul>
        </div>
    </div>
    <hr>
    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'Description'|trans }}</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>{{ 'Created'|trans }}</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'Updated'|trans }}</th>
            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
